adyen-appexchange/main/default/flows/Create_Fulfilllment_Orders_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Orders</name>
        <label>Create Fulfillment Orders</label>
        <locationX>878</locationX>
        <locationY>264</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>InputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderIds</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_OrderSummary_Chatter</name>
        <label>Post to OrderSummary Chatter</label>
        <locationX>1678</locationX>
        <locationY>39</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Created Fulfillment Order </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_item_to_list</name>
        <label>Add item to list</label>
        <locationX>995</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Summary_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Ids_List</name>
        <label>Fulfillment Order Ids List</label>
        <locationX>1162</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderIdList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderIds.fulfillmentOrderIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_InputRepresentation_and_temp_collections</name>
        <label>Reset InputRepresentation and temp collections</label>
        <locationX>684</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OrderItemSummaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Representation</name>
        <label>Set Input Representation</label>
        <locationX>1026</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Summary_Input_Representation</name>
        <label>Set Item Summary Input Representation</label>
        <locationX>762</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item_Canceled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Fulfillment_Group</name>
        <label>Set New Fulfillment Group</label>
        <locationX>1166</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Channel.DefaultShippingLocation__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemSummaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Input_Representation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Fulfillment_Order</name>
        <label>First Fulfillment Order?</label>
        <locationX>1350</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FirstFulfillmentOrderYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentOrderCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Canceled</name>
        <label>Item Canceled?</label>
        <locationX>872</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>Add_item_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItemSummaryInputRepresentation.quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Summary_Items_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Items_to_Fulfill</name>
        <label>Items to Fulfill?</label>
        <locationX>1158</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Set_New_Fulfillment_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoItemsToFulfill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItemSummaryList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Retrieve Warehouse location from Sales Channel config</description>
    <formulas>
        <name>Five_Minutes_After</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (5/1440)</expression>
    </formulas>
    <formulas>
        <name>RemoveTrailingComma</name>
        <dataType>String</dataType>
        <expression>LEFT({!FilterExpression}, LEN({!FilterExpression})-1)</expression>
    </formulas>
    <interviewLabel>Create Fulfilllment Orders Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Fulfillment Orders Flow</label>
    <loops>
        <name>Loop_Fulfillment_Orders</name>
        <label>Loop Fulfillment Orders</label>
        <locationX>1359</locationX>
        <locationY>48</locationY>
        <collectionReference>FulfillmentOrderIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Fulfillment_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_to_OrderSummary_Chatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Order_Delivery_Group_Summaries</name>
        <label>Loop through Order Delivery Group Summaries</label>
        <locationX>733</locationX>
        <locationY>103</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_InputRepresentation_and_temp_collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Order_Ids_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Summary_Items_Collection</name>
        <label>Loop Through Summary Items Collection</label>
        <locationX>878</locationX>
        <locationY>505</locationY>
        <assignNextValueToReference>OrderProductSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderSummaryItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Item_Summary_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Items_to_Fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order_Record</name>
        <label>Get Fulfillment Order Record</label>
        <locationX>1364</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fulfillment_Order_Export_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Fulfillment_Orders</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Get Order Delivery Group Summaries</label>
        <locationX>469</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputReference>OrderDeliveryGroupSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalOrderDeliveryGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summary</name>
        <label>Get Order Product Summary</label>
        <locationX>684</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Summary_Items_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderItemSummary</object>
        <outputReference>OrderSummaryItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OrderDeliveryGroupSummaryId</queriedFields>
        <queriedFields>OriginalOrderItemId</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary_Sales_Channel</name>
        <label>Get Order Summary Sales Channel</label>
        <locationX>313</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SalesChannelId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel</name>
        <label>Get Sales Channel</label>
        <locationX>314</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary_Sales_Channel.SalesChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fulfillment_Order_Export_Status</name>
        <label>Update Fulfillment Order Export Status</label>
        <locationX>1587</locationX>
        <locationY>442</locationY>
        <connector>
            <targetReference>Update_Order_Summary_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Export_Status__c</field>
            <value>
                <stringValue>Ready for Export</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Summary_Status</name>
        <label>Update Order Summary Status</label>
        <locationX>1587</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Loop_Fulfillment_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstFulfillmentOrder__c</field>
            <value>
                <elementReference>Get_Fulfillment_Order_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Fulfillment_Order_Name__c</field>
            <value>
                <elementReference>Get_Fulfillment_Order_Record.FulfillmentOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting to Fulfill</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>187</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Sales_Channel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FilterExpression</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>First fullfillment order Id created</description>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderIds</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderOutputToStore</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopFulfillmentOrderOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>varLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarehouseLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
</Flow>
